{% extends 'pxfivegames/base.html' %}

{% block css %}
<style>
    h2 {
        color: #fff;
    }
</style>
{% endblock %}

{% block js %}
    <script>
        function eliminarProducto(id) {
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Esta accion no se puede deshacer.",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No",
                "confirmButtonText": "Si",
                "confirmButtonColor": "#DC3545",
                "cancelButtonColor": ""
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "eliminar-producto/" + id + "/"
                }
            })
        }
    </script>
{% endblock %}

{% block contenido %}
{% load humanize %}
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>Listado de productos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Disponible</th>
                <th>Opciones</th>
            </tr>
        
            {% for p in productos %}
        
            <tr>
                <td>{{ p.categoria | capfirst }}</td>
                <td>{{ p.nombre | title }}</td>
                <td>${{ p.precio | intcomma }}</td>
                <td>
                    {% if p.disponible %}
                    SI
                    {% else %}
                    NO
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>

            {% endfor %}
        
        </table>
        
    </div>
</div>
{% endblock %}