{% extends 'pxfivegames/base.html' %}

{% block contenido %}

<section id="nosotros">
    <div class="container">
      <h2>Acerca de PxFiveGames</h2>
      <p>En PxFiveGames nos apasionan los videojuegos y queremos ofrecerte la mejor experiencia de compra.</p>
      <p>Contamos con una amplia selección de los juegos más populares y emocionantes para todas las plataformas, ya sea PC, consolas o dispositivos móviles.</p>
      <p>Nuestro objetivo es brindarte un catálogo diverso y actualizado, garantizando que siempre encuentres los títulos más recientes y los clásicos atemporales que amas.</p>
      <p>Además, nuestro equipo de atención al cliente está disponible para ayudarte en cualquier consulta o problema que puedas tener. Tu satisfacción es nuestra prioridad.</p>
      <p>Explora nuestra tienda, descubre nuevos juegos y vive aventuras inolvidables con PxFiveGames.</p>
    </div>
  </section>

{% endblock %}